.create-post{
  text-decoration: none;
  color: unset;
}

.date-form {
  display: inline;
}

.date-form div {
  display: inline-block;
}

.start-date, .end-date {
  margin-top: 15px;
}

.adjust {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}