.my-item-title {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.my-item-title:hover {
  color: #b1b1b1;
  transition: 0.3s;
}

.header-buttons {
  margin-left: auto;
}

.login-button,
.logout-button,
.search-button {
  text-decoration: none;
  color: white;
}
