.register-form {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 50px auto;
}

.register-form form {
  width: 100%;
}

.register-new-user {
  margin-top: 15px;
}

.third-party-login a {
  text-decoration: none;
}

.third-party-login img {
  height: 20px;
}

.register-form .mandatory-fields-alert {
  margin-top: 10px;
}

.register-form-login-button {
  margin-top: 15px;
}

.register-form-login-button a{
  text-decoration: none;
}