.login-form {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 50px auto;
}

.login-form form {
  width: 100%;
}

.form-login-button {
  margin-top: 30px;
}

.third-party-login, .new-user {
  margin-top: 15px;
}

.new-user a {
  text-decoration: none;
}

.third-party-login img {
  width: 11%;
  padding: 0 10px 0 0;
}

.snack-bar {
  background-color: green;
  width: 500px;
}